/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
/* BODY */
body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* LAYOUT INTEIRO DA PÁGINA */
.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
/* IMAGEM DO SMARTPHONE */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
/* AJUSTA A ÁREA DE LOGIN E CADASTRAMENTO */
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1) {
    min-height: 22rem;
    margin-bottom: 10px;
    padding: 20px 50px;
}

.instagram-logo {
    height: 3rem;
}

.group form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.group form input:first-child {
    margin-bottom: 3px;
}
.group form input {
    width: 100%;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background: rgb(243, 243, 243);
    padding-left: 5px;
    outline: none;
}

.link-facebook {
    font-weight: bolder;
}

.link-facebook a {
    color: blue;
}
.facebook{
    display: flex;
    align-items: center;
}
 
.facebook img {
    margin-right: 3px;
    width: 15px;
}

.forget-pass {
    color: #00138D;
}
/* BOTÃO DE LOGIN */
#btn {
    width: 100%;
    height: 35px;
    background: #0095f6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

/* SEPARDOR ENTRE OS CONTEÚDOS DO BLOCO DE LOGIN */
.separador {
    display: flex;
    width: 100%;
}

.separador ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.text {
    text-transform: uppercase;
    color: #8e8e8e;
}

.line {
    width: 33%;
    margin: 0 10px;
}

.line hr {
    height: 1.2px;
    background-color: lightgray;
    border: none;
    border-radius: 50px;
}

.link-blue a {
    color: #0095f6;
    font-weight: bolder;
}
/* ÁREA DE DOWNLOAD NAS LOJAS MOBILE */
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}
/* ÁREA DOS BOTÕES DE DOWNLOAD */
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10.3rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .instagram-wrapper  {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }

.group {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
}

@media (max-width: 320px) {
    .app-download{
        height: 2em;
        width: 6.8rem;
    }

    .group form input {
        width: 125%;
    }

    .enter {
        width: 230px;
    }
}
}